.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding: $box-padding;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    i{
        color: $header-footer-color;
        font-size: var(--fs-icons);
    }
}
.contact-form{
    h1{
        color: $header-footer-color;
        font-size: var(--fs-header-text);
    }
    h3{
        font-size: var(--fs-body-text);
        color: $header-footer-color;
    }
}
.contact-page{
max-width: 1000px;
border: solid 2px green;
padding: 15px;
background-color: $header-footer-color;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
color: #fff;
textarea{
    width: 100%;
}
button{
    background-color: $button-color;
    border-color: $mid-green;
    border-width: 3px;
    padding: 5px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.1rem;
}
label{
    font-size: 1.1rem;
}
}
.input-container{
    margin-bottom: 16px;
    input{
        background-color: transparent;
        border: #fff solid 1px;
        color: #fff;
        font-size: var(--fs-body-text);
        &::placeholder{
            color: #fff;
            padding: 5px;
        }
    }
}
.required{
display: inline;
&:after{
    content: "*";
    color: red;
}
}