
.services{
    background-color: #FFFEEC;
    h2{
        font-size: var(--fs-mid-page-header);
        text-align: center;
        color: $header-footer-color;
    }
    p{
        padding: 20px;
        font-size: var(--fs-body-text)
    }
}

.call-to-action{
    padding: 20px;
    animation: call-to-action $animation-timing ease-in;
    background-color: #FFFEEC;
    h1{
        font-size: var(--fs-header-text);
        color: $header-footer-color;
    }
    p{
        font-size: var(--fs-body-text);
        margin-top: 20px;
    }
}

.card-grid{
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
    @include for-size(tablet-only){
        display: flex;
        flex-direction: column;
    }
}

  .service-info{
    display: flex;
    flex-direction: column;
    background-color: $header-footer-color;
    width: auto;
    align-items: center;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: (rgba(0,0,0,.4) 0px 5px 10px);
    h1{
        font-size: var(--fs-mid-page-header);
    }
    p{
        font-size: var(--fs-body-text);
        color: #FFFEEC;
    }
    img{
        height: auto;
        max-width: 500px;
        width: 85%;
    }
  }
