#rain-hero{
    background-image: url(../images/rain/rain-hero.webp);
    min-height: 800px;
    @include for-size(large-desktop){
        background-image: url(../images/rain/rain-hero-xl.webp);
    }
    @include for-size(tablet-only){
        background-image: url(../images/rain/rain-hero-mobile.webp);
        min-height: 450px;
        background-position: 90%;
    }
}

#rain-lower{
    background-image: url(../images/rain/rain-lower-hero.webp);
    min-height: 500px;
    @include for-size(large-desktop){
        background-image: url(../images/rain/rain-lower-hero-xl.webp);
    }
    @include for-size(tablet-only){
        background-image: url(../images/rain/rain-lower-hero-mobile.webp);
        min-height: 450px;
        background-position: 50%;
    }
}
.rain-hr{
    background: linear-gradient(-45deg,#C5E2F7, #92BAD2, #53789E);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

.rain-types{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1vw;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 80%;
            height: 80%;
        }
    }
    @include for-size(tablet-only){
        display: flex;
        flex-direction: column;
    }
}