.store-product-flex{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.store-img{
    margin: auto;
}
.product-text{
    margin: 10px 0px;
}
.product-price{
    gap: 5px;;
}
.product-button{
    background-color: $button-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: $text-color;
    max-width: 125px;
}
.no-stock{
    background-color: rgba(91, 130, 102, 70%);
    color: $text-color;
}

.store-controls{
    position: sticky;
    top: 60px;
    min-width: 250px;
    height: 100%;
    margin-top: 10px;
    @include for-size(large-phone-only){
        display: none;
    }
}

.store-control-fieldset{
    border: none;
    color: $mid-green;
    font-family: $h1-font;
}

.filled-stars{
    color: $header-footer-color;
}

.empty-star{
    color: $header-footer-color;
}
.star-ratings{
    width: auto;
    cursor: pointer;
}
.star-rating-button{
    background-color: transparent;
    border: none;
    color: $mid-green;
    cursor: pointer;
}