.store-product-flex{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.store-img{
    margin: auto;
}
.product-text{
    margin: 10px 0px;
}
.product-price{
    gap: 5px;;
}
.product-button{
    background-color: $button-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: $text-color;
    max-width: 125px;
}
.no-stock{
    background-color: rgba(91, 130, 102, 70%);
    color: $text-color;
}

.store-controls{
    background-color: red;
    min-width: 250px;
}

.store-control-fieldset{
    border: none;
}