.custom-checkbox-wrapper input[type='checkbox']{
    display: none;
}
.custom-checkbox-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-checkbox{
    width: 20px;
    height: 20px;
    border: 1px $button-color soild;
    border-radius: 5px;
    background-color: lightgray;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.custom-checkbox-wrapper input[type='checkbox']:checked + .custom-checkbox{
    background-color: $button-color;
}

.custom-checkbox-wrapper input[type='checkbox']:checked + .custom-checkbox::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
