.box-shadow-gray{
    box-shadow: gray 1px 1px 3px;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-row-col{
    display: flex;
    flex-direction: row;
    @include for-size(tablet-only){
        flex-direction: column;
    }
}
.button-no-border{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.red-background{
    background-color: red;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-content-center{
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-space-even{
    justify-content: space-evenly;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.align-self-start{
    align-self: flex-start;
}
.flex-col-gap{
    column-gap: .3rem;
}
.flex-col-gap-large{
    column-gap: 1rem;
}
.flex-col-gap-xlarge{
    column-gap: 2rem;
}
.flex-row-gap-small{
    row-gap: .5rem;
}
.flex-row-gap-large{
    row-gap: 1rem;
}
.flex-row-gap-xlarge{
    row-gap: 2rem;
}
.margin-bottom-large{
    margin-bottom: 1rem;
}
.margin-top-large{
    margin-top: 1rem !important;
}
.padding-5px{
    padding: 5px;
}
.text-align-right{
    text-align: right;
}
.button-link{
    margin-top: 20px;
    align-self: flex-start;
    color: white;
    background-color: $button-color;
    font-size: 1.4rem;
    padding: 15px;
    border-radius: 5px;
}
.button{
    background-color: transparent;
    border: 1px solid $button-color;
    border-radius: 5px;
    height: fit-content;
    padding: 10px;
    color: $header-footer-color;
    font-family: $h1-font;
    &:hover{
        background-color: $button-color;
        color: #efefef;
    }
}
.hr-maxWidth{
    width: 100%;
    color: white;
}