#about-hero{
    background-image: url('../images/about/about-hero.webp');
    min-height: $hero-img-large;
    background-position: center;
    @include for-size(large-desktop){
        background-image: url('../images/about/about-hero-xl.webp');
        // background-position: 50%;
    }
    @include for-size(tablet-only){
        background-image: url('../images/about/about-hero-xl.webp');
        background-position: 60%;
    }
}

.about-page{
    display: flex;
    padding: 1rem;
    img{
        padding-right: 1rem;
    }
    @include for-size(tablet-only){
        flex-direction: column;
    }
}

#about-mid-page-header{
    font-size: var(--fs-mid-page-header);
    text-align: center;
}