.services{
    h2{
        font-size: 2.5rem;
        text-align: center;
    }
    p{
        color: $text-color;
        padding: 20px;
        font-size: 1.7rem;
    }
}

.call-to-action{
    padding: 20px;
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.5rem;
        color: $text-color;
        margin-top: 20px;
    }
}

.card-grid{
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
    @include for-size(tablet-only){
        display: flex;
        flex-direction: column;
    }
}
// .card{
//     background-color: transparent;
//     height: 375px;
//     width: 100%;
//     max-width: 600px;
//     margin: auto;
//     perspective: 1000px;
//     &:hover .card-inner{
//       transform: rotateY(180deg);
//     }
//     .card-inner{
//       position: relative;
//       width: 100%;
//       height: 100%;
//       transition: transform 0.8s;
//       transform-style: preserve-3d;
//       img{
//         height: auto;
//         width: 100%;
//       }
//       i{
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//         font-size: 2rem;
//         color: #fff;
//         text-shadow: 0px 0px 5px #000;
//       }
//     }
//   }
//   .card-title{        
//     color:#fff;
//     text-shadow: 0px 0px 10px #000;
//     position: absolute;
//     left: 50%;
//     bottom:50%;
//     transform: translate(-50%,-50%);
//   }
//   .flip-card-front, .flip-card-back{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     backface-visibility: hidden;
//   }
//   .flip-card-back{
//     background-color: $mid-green;
//     transform: rotateY(180deg);
//     padding: 10px;
//     h1{
//       text-align: center;
//     }
//     p{
//       padding-bottom: 15px;
//       color: $text-color;
//     }
//     button{
//       position: absolute;
//       left:50%;
//       transform: translateX(-50%);
//       padding: 15px;
//       background-color: $button-color
//     }
//     a{
//       color: #fff;
//       text-decoration: none;
//       font-size: 1.2rem;
//     }

//   }

  .service-info{
    display: flex;
    flex-direction: column;
    background-color: $header-footer-color;
    width: auto;
    align-items: center;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: (rgba(0,0,0,.4) 0px 5px 10px);
    h1{
        font-size: clamp(1.2rem, 2.5rem, 4rem);
    }
    p{
        font-size: clamp(1.2rem, 1.3rem, 1.5rem);
    }
    img{
        height: auto;
        max-width: 500px;
        width: 85%;
    }
  }
