#solar-middle-hero{
    background-image: url('../images/solar/solar-middle-hero-xl.webp');
    min-height: 500px;
}

#solar-bottom-hero{
    background-image: url('../images/solar/solor-bottom-hero-xl.webp');
    min-height: 500px;
}