/* scss var */

$footer-height: 2.5rem;
$text-color: #ECF39E;
$header-footer-color:#31572C;
$content-color: #68DE82;
$h1-colors: #FCEADE;
$button-color: #5B8266;
$light-green: #56B356;
$mid-green: #2c6b2c;
$h1-font:'Ubuntu', sans-serif;
$navbar-fontsize: clamp(1rem, 1.5rem, 3rem);
$box-padding: 1rem; 
$animation-timing: .5s;
$hero-img-large: 800px;
$hero-img-small: 500px;
$mid-hero: 500px;
$border-radius: 5px;