/* scss var */
:root {
  --fs-hero-text: clamp(2rem, (5vw+1rem), 5.5rem);
  --fs-nav-bar: clamp(1rem, 1.5rem, 3rem);
  --fs-body-text: 1.5rem;
  --fs-header-text: clamp(1.5rem, (3vw+1rem), 4rem);
  --fs-mid-page-header: clamp(1rem, calc(3vw+1rem), 3rem);
  --fs-footer-header: clamp(1rem (3vw + 1rem), 3rem);
  --fs-icons: clamp(5rem, (6vw+1rem), 6rem);
}
@media (max-width: 535px) {
  :root {
    --fs-body-text: 1.2rem;
  }
}

html, body {
  background-color: #31572C;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Ubuntu", sans-serif;
  color: #FCEADE;
}

.row {
  height: auto;
  flex: auto;
}

/* grid setup */
/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-width: 100vw;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes navbar-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes social-bar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes call-to-action {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes hero {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* wrapper setup */
.main-wrapper {
  min-height: 100%;
  background: rgb(44, 107, 44);
  background: linear-gradient(-45deg, rgb(44, 107, 44), #20af24, rgb(0, 156, 209));
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  min-width: 100%;
}

.index-wrapper {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  height: 100%;
  background-color: #fff;
  overflow: auto;
}

.content-wrapper {
  max-width: 1400px;
  margin: 0px auto;
  height: 100%;
  background-color: #2c6b2c;
  overflow: auto;
  box-shadow: 0px 0px 10px #000;
  display: flex;
  flex-direction: column;
}

.contact-wrapper {
  max-width: 1400px;
  background-color: #2c6b2c;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: auto;
}

/* social bar and header/nav */
.social-bar {
  background-color: #31572C;
  height: 40px;
  animation: social-bar 0.5s ease-in;
}
.social-bar i {
  color: #ECF39E;
  padding: 10px;
}
.social-bar i:first-child {
  padding-left: 15px;
}
.social-bar .social-icons {
  float: right;
  padding-right: 15px;
  color: #FCEADE;
}
.social-bar .social-icons i:hover {
  color: darkgreen;
  transform: scale(1.2) rotate(5deg);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #31572C;
  animation: navbar-load 0.5s ease-in;
}

.active {
  color: red;
}

.logo {
  height: 60px;
}

.navlinks {
  display: grid;
  grid-template-columns: repeat(6, auto);
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin: 10px;
}
.navlinks li {
  list-style: none;
  align-self: left;
}
.navlinks li :last-child {
  margin-right: 15px;
}
.navlinks li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #FCEADE;
}
@media (max-width: 768px) {
  .navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    translate: -100%;
    position: fixed;
    top: 90px;
    left: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    opacity: 1;
    padding-top: 40px;
    transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
    background-color: #31572C;
  }
}

.navlinks > li {
  position: relative;
}

.dropdown button {
  border: none;
  background-color: transparent;
  color: #FCEADE;
  font-size: 1.5rem;
}
.dropdown button span {
  margin: auto;
  font-size: 12px;
}

.dropdown ul {
  position: absolute;
  list-style: none;
  margin-top: 0.6rem;
  left: 0px;
  padding: 5px;
  transition-duration: 0.5s;
  opacity: 0;
  display: none;
  z-index: 100;
  background-color: #31572C;
  width: 200px;
}
@media (max-width: 768px) {
  .dropdown ul {
    flex-direction: column;
  }
}

.dropdown:hover > ul, .dropdown:focus-within > ul, .navlinks .dropdown ul:hover, ul, .navlinks .dropdown ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
@media (max-width: 768px) {
  .dropdown:hover > ul, .dropdown:focus-within > ul, .navlinks .dropdown ul:hover, ul, .navlinks .dropdown ul:focus {
    display: flex;
  }
}

.mobile-nav-container {
  display: none;
  height: 100%;
  width: 30px;
  padding-right: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mobile-nav-container {
    display: flex;
  }
}

#mobile-nav-toggle {
  display: none;
}

#mobile-nav-toggle:checked ~ .navlinks {
  translate: 0% !important;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
}

.mobile-nav,
.mobile-nav::before,
.mobile-nav::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
@media (max-width: 768px) {
  .mobile-nav,
  .mobile-nav::before,
  .mobile-nav::after {
    display: flex;
  }
}

.mobile-nav::before {
  content: "";
  margin-top: -8px;
}

.mobile-nav::after {
  content: "";
  margin-top: 8px;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav {
  background: transparent;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.sticky {
  background-color: #31572C;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px #000;
}
.sticky .nav-dropdown {
  padding: 10px;
}
.sticky .nav-dropdown .drop-button {
  padding: 10px;
}
.sticky .nav-dropdown .drop-content {
  background-color: #31572C;
}
.sticky .logo {
  width: 75px;
  height: 75px;
  padding-bottom: 10px;
  margin-left: 15px;
}

/* hero img */
.hero-img {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.hero-img iframe {
  width: 100%;
  height: 400px;
}

.slideshow {
  display: none;
  margin-bottom: 0px;
}

.slideshow-text {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--fs-hero-text);
  font-family: "Neucha", cursive;
  text-shadow: 0px 0px 5px #000;
}

.next {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0px 15px 0px 0px;
}
.next:hover {
  color: #fff;
  transform: scale(1.2);
  animation: shake 0.5s;
}

.prev {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0px 0px 0px 15px;
}
.prev:hover {
  color: #fff;
  transform: scale(1.2);
  animation: shake 0.5s;
}

.slide-img {
  width: 100%;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* footer */
footer {
  background-color: #31572C;
  position: sticky;
  top: 100%;
  font-size: 1.3rem;
  color: #ECF39E;
  text-align: center;
  padding: 15px;
}

.footer-wrapper {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}
.footer-wrapper h1 {
  font-size: var(--fs-footer-header);
}
@media (max-width: 535px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.copyright {
  text-align: center;
}

.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-social h4 {
  font-size: 2rem;
}
.footer-social .social-links {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-social i {
  font-size: 2.5rem;
}

.newsletter {
  position: relative;
  background-color: #31572C;
}
.newsletter fieldset {
  margin: 5px;
  padding: 15px;
  border-color: green;
  border: none;
}
.newsletter button {
  background-color: #5B8266;
  border-color: #2c6b2c;
  border-width: 3px;
  padding: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem;
}
.newsletter button:hover {
  background-color: #fff;
}
.newsletter input {
  height: 50px;
  width: 50%;
  border: #fff solid 1px;
  background-color: transparent;
}
.newsletter input::-moz-placeholder {
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}
.newsletter input::placeholder {
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}
.newsletter .newsletter-popup {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  top: 30%;
  color: #fff;
  background-color: green;
  padding: 0px 5px 5px 5px;
  border-radius: 5px;
}
.newsletter .newsletter-popup::after {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: green transparent transparent;
  position: absolute;
  top: 100%;
  left: 85%;
}
.newsletter .show {
  visibility: visible;
  animation: fadeIn 1s;
}

.sitemap-links {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.sitemap-links li {
  margin: 0;
}
.sitemap-links a {
  position: relative;
  left: -10px;
  text-decoration: none;
  color: #ECF39E;
}
.sitemap-links a :hover {
  color: #56B356;
}

#index-hero-1 {
  background-image: url("../images/solar/solar-hero-top.webp");
  min-height: 800px;
  width: 100%;
}
@media (min-width: 1920px) {
  #index-hero-1 {
    background-image: url("../images/solar/solar-hero-top-xl.webp");
  }
}
@media (max-width: 768px) {
  #index-hero-1 {
    background-image: url("../images/solar/solar-hero-top-mobile.webp");
    min-height: 450px;
    background-position: 40%;
  }
}

#index-hero-2 {
  background-image: url("../images/index-heros/green-lawns-hero.webp");
  min-height: 800px;
  width: 100%;
}
@media (min-width: 1920px) {
  #index-hero-2 {
    background-image: url("../images/index-heros/green-lawns-hero-xl.webp");
  }
}
@media (max-width: 768px) {
  #index-hero-2 {
    background-image: url("../images/index-heros/green-lawns-hero-mobile.webp");
    min-height: 450px;
    background-position: 50%;
  }
}

.services h2 {
  font-size: 2.5rem;
  text-align: center;
}
.services p {
  color: #ECF39E;
  padding: 20px;
  font-size: 1.7rem;
}

.call-to-action {
  padding: 20px;
  animation: call-to-action 0.5s ease-in;
}
.call-to-action h1 {
  font-size: 3rem;
}
.call-to-action p {
  font-size: 1.5rem;
  color: #ECF39E;
  margin-top: 20px;
}

.card-grid {
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 20px;
}
@media (max-width: 768px) {
  .card-grid {
    display: flex;
    flex-direction: column;
  }
}

.service-info {
  display: flex;
  flex-direction: column;
  background-color: #31572C;
  width: auto;
  align-items: center;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
.service-info h1 {
  font-size: 2.5rem;
}
.service-info p {
  font-size: 1.3rem;
}
.service-info img {
  height: auto;
  max-width: 500px;
  width: 85%;
}

#lawns-hero {
  background-image: url("../images/lawns/lawns_hero_top.webp");
  min-height: 800px;
}
@media (min-width: 1920px) {
  #lawns-hero {
    background-image: url("../images/lawns/lawns_hero_top_xl.webp");
  }
}
@media (max-width: 768px) {
  #lawns-hero {
    background-image: url("../images/lawns/lawns_hero_top_mobile.webp");
    min-height: 500px;
    background-position: 50%;
  }
}

#lawns-middle-hero {
  background-image: url("../images/lawns/middle_hero_xl.webp");
  min-height: 500px;
}

#lawns-bottom-hero {
  background-image: url("../images/lawns/hero_bottom_xl.webp");
  min-height: 500px;
}

#solar-hero {
  background-image: url("../images/solar/solar-hero-top.webp");
  min-height: 800px;
}
@media (min-width: 1920px) {
  #solar-hero {
    background-image: url("../images/solar/solar-hero-top-xl.webp");
  }
}
@media (max-width: 768px) {
  #solar-hero {
    background-image: url("../images/solar/solar-hero-top-mobile.webp");
    min-height: 450px;
    background-position: 50%;
  }
}

#solar-middle-hero {
  background-image: url("../images/solar/solar-middle-hero.webp");
  min-height: 500px;
}
@media (min-width: 1920px) {
  #solar-middle-hero {
    background-image: url("../images/solar/solar-middle-hero-xl.webp");
  }
}
@media (max-width: 768px) {
  #solar-middle-hero {
    background-image: url("../images/solar/solar-middle-hero-mobile.webp");
    min-height: 450px;
    background-position: 50%;
  }
}

#solar-bottom-hero {
  background-image: url("../images/solar/solor-bottom-hero.webp");
  min-height: 500px;
}
@media (min-width: 1920px) {
  #solar-bottom-hero {
    background-image: url("../images/solar/solor-bottom-hero-xl.webp");
  }
}
@media (max-width: 768px) {
  #solar-bottom-hero {
    background-image: url("../images/solar/solor-bottom-hero-mobile.webp");
    min-height: 450px;
    background-position: 50%;
  }
}

.solar-hr {
  background: linear-gradient(-45deg, #FFAF7B, #D76D77, #3A1C71);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.solar-list-container {
  display: flex;
  justify-content: space-between;
}
.solar-list-container li {
  list-style: url("../images/bullet.png");
  font-size: var(--fs-body-text);
  padding-bottom: 1rem;
}
@media (max-width: 768px) {
  .solar-list-container {
    flex-direction: column;
  }
}

#about-hero {
  background-image: url("../images/about/about-hero.webp");
  min-height: 800px;
}
@media (min-width: 1920px) {
  #about-hero {
    background-image: url("../images/about/about-hero-xl.webp");
    background-position: 50%;
  }
}
@media (max-width: 768px) {
  #about-hero {
    background-image: url("../images/about/about-hero-mobile.webp");
    min-height: 450px;
  }
}

.about-page {
  display: flex;
  padding: 1rem;
}
.about-page img {
  padding-right: 1rem;
}

#about-mid-page-header {
  font-size: var(--fs-mid-page-header);
  text-align: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  padding: 1rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.social-links i {
  color: #ECF39E;
  font-size: var(--fs-icons);
}

.contact-form h1 {
  font-size: var(--fs-header-text);
}
.contact-form h3 {
  font-size: var(--fs-body-text);
}

.contact-page {
  max-width: 900px;
  border: solid 2px green;
  padding: 15px;
  background-color: #31572C;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}
.contact-page textarea {
  width: 100%;
}
.contact-page button {
  background-color: #5B8266;
  border-color: #2c6b2c;
  border-width: 3px;
  padding: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem;
}
.contact-page label {
  font-size: 1.1rem;
}

.input-container {
  margin-bottom: 16px;
}
.input-container input {
  background-color: transparent;
  border: #fff solid 1px;
  color: #fff;
  font-size: var(--fs-body-text);
}
.input-container input::-moz-placeholder {
  color: #fff;
  padding: 5px;
}
.input-container input::placeholder {
  color: #fff;
  padding: 5px;
}

.required {
  display: inline;
}
.required:after {
  content: "*";
  color: red;
}

hr {
  width: 100%;
  height: 5px;
  margin: 25px 0px;
  border-color: transparent;
}

.text-content {
  background-color: #fff;
  max-width: 1400px;
  margin: auto;
  animation: call-to-action 0.5s ease-in;
}
.text-content h1, .text-content h2, .text-content h3 {
  font-size: var(--fs-header-text);
  padding: 1rem;
}
.text-content p {
  font-size: var(--fs-body-text);
  padding: 1rem;
}

.background-img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: hero 0.5s ease-in;
  width: 100%;
}
.background-img h1 {
  font-size: var(--fs-hero-text);
  font-family: "Neucha", cursive;
  opacity: 0.9;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-shadow: 1px 3px #000;
}

.photo-border-radius {
  border-radius: 5px;
}

.img-grid-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rain-hero {
  background-image: url(../images/rain/rain-hero-xl.webp);
  min-height: 800px;
}

#rain-lower {
  background-image: url(../images/rain/rain-lower-hero-xl.webp);
  min-height: 500px;
}

.rain-hr {
  background: linear-gradient(-45deg, #FFAF7B, #D76D77, #3A1C71);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.rain-types {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1.25rem;
  padding: 1rem;
}
.rain-types div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rain-types div img {
  width: 90%;
  height: 90%;
}

.about h1 {
  text-align: center;
}

.circle-img {
  border-radius: 50%;
  padding-right: 15px;
}

.img-float-left img {
  float: left;
  margin: 5px;
  max-width: 100%;
  height: auto;
}
.img-float-left p {
  text-align: justify;
  font-size: 20px;
}

.main {
  padding: 15px;
  margin: none;
  font-size: 1.7rem;
}
.main p {
  color: #ECF39E;
  margin-top: 20px;
}

.lower-content {
  background-color: #3F8D3F;
}

.content-left {
  background-color: #56B356;
  font-size: 1.3rem;
  color: #ECF39E;
}
.content-left a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
.content-left button {
  background-color: #5B8266;
  padding: 15px;
  margin-top: 10px;
}

.contact {
  background-color: #31572C;
}
.contact button {
  position: relative;
  padding: 15px;
  margin: 10px 0px 10px 0px;
  color: #fff;
  background-color: #5B8266;
  font-size: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.contact h2 {
  text-align: center;
}
.contact .social {
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  padding: 10px 10px 0px;
  color: #ECF39E;
}
.contact i:hover {
  color: #fff;
}

/* contact page */
.social-contact {
  background-color: #2c6b2c;
}
.social-contact h3 {
  color: #ECF39E;
  padding-bottom: 10px;
}
.social-contact i {
  font-size: 3rem;
  padding: 15px;
  color: #FCEADE;
}
.social-contact span {
  font-size: 1.25rem;
}
.social-contact button {
  height: 50px;
  font-size: 1.25rem;
  padding: 10px 10px 10px 10px;
  background-color: #5B8266;
}

.page-push {
  min-height: 33vh;
  text-align: center;
  background-color: #2c6b2c;
}
.page-push i {
  font-size: 4rem;
  margin-top: 40px;
  padding: 40px 40px 40px 40px;
}

/* dyi store */
.store-img {
  padding: 10px;
  height: auto;
  max-width: 250px;
}

.store-header {
  text-align: center;
}

.store-p {
  padding: 15px;
  font-size: 1.3rem;
  color: #ECF39E;
}

.store-box {
  background-color: #31572C;
}

.store {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #31572C;
  padding: 1rem;
}
.store p {
  color: #ECF39E;
}
.store .store-item {
  position: relative;
  background-color: #2c6b2c;
  border: #68DE82 2px solid;
  padding: 10px;
}
.store .store-popup {
  visibility: hidden;
  position: relative;
  z-index: 100;
  top: 30%;
  color: #fff;
  background-color: green;
  padding: 0px 5px 5px 5px;
  border-radius: 5px;
}
.store .store-popup::after {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: green transparent transparent;
  position: absolute;
  top: 100%;
  left: 85%;
}
.store .show {
  visibility: visible;
  animation: fadeIn 1s;
}
.store p {
  padding: 10px;
}

.store-price {
  position: relative;
}
.store-price button {
  border: none;
  background-color: transparent;
  float: left;
}
.store-price button i {
  font-size: 1.5rem;
  color: #FCEADE;
}
.store-price .item-price {
  float: left;
  padding: 0px 0px 0px 10px;
}

/* blog */
.blog {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #31572C;
}

.blog-item {
  padding: 15px;
  border: green solid 3px;
  margin: 5px;
  background-color: #2c6b2c;
}
.blog-item iframe {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
  aspect-ratio: 16/9;
}
.blog-item p {
  font-size: 1.2rem;
  padding: 10px 0px 0px;
  color: #ECF39E;
}
.blog-item h1 {
  padding: 0px 0px 10px;
}

/* media query *//*# sourceMappingURL=style.css.map */