@import './reset';
@import './vars';
@import './mixins';
:root{
    // --fs-hero-text: clamp(4.5rem, calc(5vw+1rem), 5.5rem);
    --fs-hero-text: clamp(1.5rem, calc(5vw + 0.5rem), 4.5rem);
    --fs-nav-bar: clamp(1rem, 1.5rem, 3rem);
    --fs-body-text: 1.5rem;
    --fs-header-text: clamp(2rem, calc(5vw + 2rem), 3rem);
    --fs-mid-page-header: clamp(1.5rem, calc(3vw + .5rem), 3rem);
    --fs-text-link: clamp(1rem, calc(1vw + .5rem), 1.5rem);
    --fs-footer-header: clamp(1rem, calc(3vw + 0.5rem), 2.5rem);
    --fs-icons: clamp(3rem, calc(6vw + 1rem), 5.8rem);
    @include for-size(large-phone-only){
      --fs-body-text: 1rem;
    }
}

html {
    height: 100%;
    min-height: 100vh;
}

body {
    min-height: 100%;
    min-width: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

#root{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    position: relative;
    align-self: center;
    grid-template-areas: "nav" "content" "footer";
    max-width: 100%;
    width: 100%;
    position: relative;
    flex-grow: 1;
}

html, body{
    // background-color: #efefef;
    // background-color: #f5f5f5;
    background-color: #f3f3f3;
    font-family: 'Lato', sans-serif;
}
.card-container{
    padding: 10px;
}
.card{
    margin: 15px 0px;
}
.card-img{
    margin-right: 40px;
    // box-shadow: 10px 10px 1px rgba(49, 87, 44, 80%);
    // box-shadow: 10px 10px 1px rgba(236, 243, 158, 80%);
}
.card-header{
    font-size: var(--fs-header-text);
}
.card-container-title{
    font-size: var(--fs-header-text);
    text-shadow: 1px 1px 1px black;
}

@import './indexPage/indexPage';
@import './layouts/layouts';
@import './store/store';
@import './store/product';
@import './store/productPage';
@import './carousel/carousel';
@import './modal/modal';
@import './user-cart/cart';
@import './services/services';