/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ol {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html {
  height: 100%;
  min-height: 100vh;
}

body {
  min-height: 100%;
  min-width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* scss var */
:root {
  --fs-hero-text: clamp(1.5rem, calc(5vw + 0.5rem), 4.5rem);
  --fs-nav-bar: clamp(1rem, 1.5rem, 3rem);
  --fs-body-text: 1.5rem;
  --fs-header-text: clamp(2rem, calc(5vw + 2rem), 3rem);
  --fs-mid-page-header: clamp(1.5rem, calc(3vw + .5rem), 3rem);
  --fs-footer-header: clamp(1rem, calc(3vw + 0.5rem), 2.5rem);
  --fs-icons: clamp(3rem, calc(6vw + 1rem), 5.8rem);
}
@media (max-width: 535px) {
  :root {
    --fs-body-text: 1rem;
  }
}

html {
  height: 100%;
  min-height: 100vh;
}

body {
  min-height: 100%;
  min-width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  position: relative;
  align-self: center;
  grid-template-areas: "nav" "content" "footer";
  max-width: 100%;
  width: 100%;
  position: relative;
  flex-grow: 1;
}

.content-wrapper {
  grid-area: "content";
}

html, body {
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
}

.card-container {
  padding: 10px;
}

.card {
  margin: 15px 0px;
}

.card-img {
  margin-right: 40px;
}

.card-header {
  font-size: var(--fs-header-text);
}

.card-container-title {
  font-size: var(--fs-header-text);
  text-shadow: 1px 1px 1px black;
}

.button-link {
  margin-top: 20px;
  align-self: flex-start;
  color: white;
  background-color: #5B8266;
  font-size: 1.4rem;
  padding: 15px;
  border-radius: 5px;
}

.button {
  background-color: transparent;
  border: 1px solid #5B8266;
  border-radius: 5px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  color: #31572C;
  font-family: "Ubuntu", sans-serif;
}
.button:hover {
  background-color: #5B8266;
  color: #efefef;
}

.customer-testimony {
  background-color: #2c6b2c;
  width: 100%;
}

.customer-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
.customer-wrapper h1 {
  color: white;
}

.testimony {
  color: #ECF39E;
}

.hero-img-wrapper {
  width: 100%;
  height: 600px;
  top: 0;
  overflow: hidden;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.call-to-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.call-to-action span {
  color: white;
  font-size: clamp(1.25rem, 5vw + 0.2rem, 1.5rem);
}

.hero-link {
  font-size: clamp(1.5rem, 5vw + 0.2rem, 1.9rem);
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 3px solid white;
  border-radius: 2px;
  box-shadow: 1px 1px 2px black;
}

.socialBar {
  background-color: #31572C;
  height: 40px;
  animation: social-bar 0.5s ease-in;
  grid-area: "social-bar";
}
.socialBar i {
  color: #ECF39E;
  padding: 10px;
}
.socialBar i:first-child {
  padding-left: 15px;
}
.socialBar .social-icons {
  float: right;
  padding-right: 15px;
  color: #FCEADE;
}
.socialBar .social-icons i:hover {
  color: darkgreen;
  transform: scale(1.2) rotate(5deg);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  position: absolute;
  top: 0;
  z-index: 1000;
  font-family: "Ubuntu", sans-serif;
  background-color: transparent;
  transition: background-color 0.6s;
  transition: position 0.6s;
}
@media (max-width: 768px) {
  nav {
    background-color: #31572C;
    position: relative;
    top: 0;
  }
}

.sticky {
  background-color: #31572C;
  position: sticky;
  top: 0;
}

.sticky-navLinks {
  color: white;
}

.logo {
  height: 60px;
}

.navlinks {
  display: grid;
  grid-template-columns: repeat(6, auto);
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 10px;
}
.navlinks li {
  list-style: none;
  align-self: left;
}
.navlinks li:last-child {
  margin-right: 15px;
}
.navlinks li a {
  text-decoration: none;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    translate: -100%;
    position: absolute;
    top: 55px;
    left: -10px;
    z-index: 100;
    min-height: 100vh;
    width: 100%;
    opacity: 1;
    padding-top: 40px;
    transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
    background-color: #31572C;
  }
}

.navLink {
  color: #31572C;
}

.navlinks > li {
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.dropdown {
  display: flex;
  position: relative;
}

.dropdown button {
  border: none;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  color: #31572C;
  font-size: 1.5rem;
}
.dropdown button span {
  margin: auto;
  font-size: 12px;
}

.dropdown ul {
  position: absolute;
  list-style: none;
  left: -40px;
  top: 30px;
  padding: 5px;
  transition-duration: 0.5s;
  opacity: 0;
  display: none;
  z-index: 100;
  background-color: transparent;
  width: 200px;
}
@media (max-width: 768px) {
  .dropdown ul {
    flex-direction: column;
    position: static;
  }
}

.dropdown:hover > ul,
.dropdown:focus-within > ul,
.navlinks .dropdown ul:hover,
ul,
.navlinks .dropdown ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
@media (max-width: 768px) {
  .dropdown:hover > ul,
  .dropdown:focus-within > ul,
  .navlinks .dropdown ul:hover,
  ul,
  .navlinks .dropdown ul:focus {
    display: block;
  }
}

.mobile-nav-container {
  display: none;
  height: 100%;
  width: 30px;
  padding-right: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mobile-nav-container {
    display: flex;
  }
}

#mobile-nav-toggle {
  display: none;
}

#mobile-nav-toggle:checked ~ .navlinks {
  translate: 0% !important;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
}

.mobile-nav,
.mobile-nav::before,
.mobile-nav::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
@media (max-width: 768px) {
  .mobile-nav,
  .mobile-nav::before,
  .mobile-nav::after {
    display: flex;
  }
}

.mobile-nav::before {
  content: "";
  margin-top: -8px;
}

.mobile-nav::after {
  content: "";
  margin-top: 8px;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav {
  background: transparent;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

footer {
  background-color: #31572C;
  color: #ECF39E;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-wrapper {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}
.footer-wrapper h1 {
  font-size: var(--fs-footer-header);
  color: #ECF39E;
}
@media (max-width: 535px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.copyright {
  text-align: center;
}

.newsletter {
  position: relative;
  background-color: #31572C;
}
.newsletter fieldset {
  margin: 5px;
  padding: 15px;
  border-color: green;
  border: none;
}
.newsletter button {
  background-color: #5B8266;
  border-color: #2c6b2c;
  border-width: 3px;
  padding: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem;
}
.newsletter button:hover {
  background-color: #fff;
}
.newsletter input {
  height: 50px;
  width: 50%;
  border: #fff solid 1px;
  background-color: transparent;
}
.newsletter input::-moz-placeholder {
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}
.newsletter input::placeholder {
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}
.newsletter .newsletter-popup {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  top: 30%;
  color: #fff;
  background-color: green;
  padding: 0px 5px 5px 5px;
  border-radius: 5px;
}
.newsletter .newsletter-popup::after {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: green transparent transparent;
  position: absolute;
  top: 100%;
  left: 85%;
}
.newsletter .show {
  visibility: visible;
  animation: fadeIn 1s;
}

.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-social .social-links {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-social i {
  color: #ECF39E !important;
}

.sitemap-links {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.sitemap-links li {
  margin: 0;
}
.sitemap-links a {
  position: relative;
  left: -10px;
  text-decoration: none;
  color: #ECF39E;
}
.sitemap-links a :hover {
  color: #56B356;
}

h1, h2, h3, h4, h5 {
  font-family: "Ubuntu", sans-serif;
  color: black;
}

.hero-text {
  font-size: var(--fs-hero-text);
  text-shadow: 1px 1px 2px black;
  color: white;
}

.header-text {
  color: #2c6b2c;
  font-size: 2rem;
}

.box-shadow-gray {
  box-shadow: gray 1px 1px 3px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-col {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .flex-row-col {
    flex-direction: column;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-content-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-even {
  justify-content: space-evenly;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.flex-col-gap {
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
}

.flex-col-gap-large {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.flex-col-gap-xlarge {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.flex-row-gap-small {
  row-gap: 0.5rem;
}

.margin-bottom-large {
  margin-bottom: 1rem;
}

.margin-top-large {
  margin-top: 1rem;
}

.content-wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
}

.store-wrapper {
  flex-direction: row;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
}

.store-product-flex {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.store-img {
  margin: auto;
}

.product-text {
  margin: 10px 0px;
}

.product-price {
  gap: 5px;
}

.product-button {
  background-color: #5B8266;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #ECF39E;
  max-width: 125px;
}

.no-stock {
  background-color: rgba(91, 130, 102, 0.7);
  color: #ECF39E;
}

.store-controls {
  min-width: 250px;
  height: 100%;
  margin-top: 10px;
}
@media (max-width: 535px) {
  .store-controls {
    display: none;
  }
}

.store-control-fieldset {
  border: none;
  color: #2c6b2c;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  position: relative;
}

.filled-stars {
  color: #31572C;
}

.empty-star {
  color: #31572C;
}

.star-ratings {
  width: auto;
  cursor: pointer;
}

.star-rating-button {
  background-color: transparent;
  border: none;
  color: #2c6b2c;
  cursor: pointer;
}

.price-display-wrapper {
  max-width: 100%;
  display: none;
}

.slider-container {
  height: 6px;
  width: 100%;
  position: relative;
}

.price-slider {
  height: 100%;
  top: 9.1px;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #31572C;
  position: absolute;
}

.range-input {
  position: relative;
}

.price-input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  top: 0;
  cursor: pointer;
  pointer-events: none;
}
.price-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.price-input::-moz-range-thumb {
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 2;
}

.price-lable {
  position: absolute;
  transform: translate(-50%, -100%);
}

.brand-container {
  height: 100px;
  overflow: hidden;
}

.reviews > .flex-row:first-child {
  border: 1px solid #31572C;
  border-radius: 5px;
  padding: 5px;
}

.expandReview {
  margin-left: auto;
}

.review-box {
  display: none;
  border: 1px solid #31572C;
  box-shadow: gray 1px 1px 3px;
  border-radius: 5px;
  padding: 5px;
}

.single-review {
  border-bottom: 1px solid;
  padding: 5px;
}

.rating-text {
  font-size: 3.3rem;
  font-family: "Ubuntu", sans-serif;
  margin-right: 10px;
  display: inline-block;
  height: 100;
}

.review-spread {
  width: 40%;
}

.review-spread-wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.review-spread-box {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.1);
}

.spread-fill {
  display: block;
  background-color: #31572C;
  height: 100%;
  border-radius: 5px;
}

.product-info-box {
  background-color: #ffffff;
  box-shadow: gray 1px 1px 3px;
  padding: 10px;
}

.store-img-thumbnail-box {
  border: 1px red solid;
  padding: 5px;
}
.store-img-thumbnail-box:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 10px;
}

.slide {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  flex: 1 0 100%;
}

.slide-customer {
  flex: 1 0 50%;
}
@media (max-width: 768px) {
  .slide-customer {
    flex: 1 0 100%;
  }
}

.customer-slide-headshot {
  flex: 0 0 50%;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 5rem;
  background-color: #56B356;
  color: #ECF39E;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.test {
  width: 50%;
}/*# sourceMappingURL=style.css.map */