/* scss var */
$footer-height: 2.5rem;
$text-color: #ECF39E;
$header-footer-color:#31572C;
$content-color: #68DE82;
$h1-colors: #FCEADE;
$button-color: #5B8266;
$light-green: #56B356;
$mid-green: #2c6b2c;
$h1-font:'Ubuntu', sans-serif;
$navbar-fontsize: clamp(1rem, 1.5rem, 3rem);
$box-padding: 16px; 
:root{
  --fs-hero-text: clamp(2rem, (4vw+1rem), 5rem);
  --fs-nav-bar: clamp(1rem, 1.5rem, 3rem);
}
html, body{
  height: 100%;
  background-color: $header-footer-color;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5{
  font-family: $h1-font;
  color: $h1-colors;
}
.row{
  height: auto;
  flex: auto;
}
/* grid setup */
.row:after {
  content: "";
  clear: both;
  display: block; }

[class*="col-"] {
  float: left;
  padding: 15px;
  /* For mobile phones: */
  width: 100%; }

/* For tablets: */
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
/* For desktop: */
@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } 
}

@mixin for-size($size){
  @if $size == tablet-only{
      @media (max-width: 768px){ @content;}
  }
  @if $size == small-tablet-only{
      @media (max-width: 720px){ @content;}
  }
  @if $size == large-phone-only{
      @media (max-width: 535px) {@content;}
  }
  @if $size == phone-only{
      @media (max-width: 425px){ @content;}
  }
  @if $size == small-desktop{
      @media (max-width: 1300px){@content;}
  }
  @if $size == Desktop{
      @media (min-width: 1300px) {@content;}
  }
}
@import './reset';
@import './wrappers';
@import './nav';
@import './heroimg';
@import './footer';
@import './index';
@import './lawns';
@import './solar';
@import './shared-classes';

.about{
  h1{
    text-align: center;
  }
}
.circle-img{
  border-radius: 50%;
  padding-right: 15px
}
.img-float-left{
  img{
    float:left;
    margin: 5px;
    max-width: 100%;
    height: auto;
  }
  p{
    text-align: justify;
    font-size: 20px;
    }
}

.main{
    // background-color: $mid-green;
    padding: 15px;
    margin: none;
    font-size: 1.7rem;
    p{
      color:$text-color;
      margin-top: 20px;
    }
  }

  .lower-content{
    background-color: #3F8D3F;
  }
  .content-left{
    background-color: #56B356;
    font-size: 1.3rem;
    color: $text-color;
    a{
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
    }
    button{
      background-color: $button-color;
      padding: 15px;
      margin-top:10px;
    }

  }
  .flex-test{
    display: flex;
    flex-flow:row;
    height: 100%;
    div{
      flex: 1 1 auto;
    }
  }
  .content-right{
    background-color:$mid-green;
    font-size: 1.3rem;
    color: $text-color;
  }
  .news{
    background-color:$mid-green;
    padding: 15px;
    h2{
      text-align: center;
    }
    ul{
      padding-left: 15px;
      list-style-image: url("images/testbullet.png");
    }
    li a{
      color: white;
      &:visited{
        color:blue;
      }
    }
  }

  .contact{
    background-color: $header-footer-color;
    button{
      position: relative;
      padding: 15px;
      margin: 10px 0px 10px 0px;
      color: #fff;
      background-color: $button-color;
      font-size: 1.2rem;
      left: 50%;
      transform: translateX(-50%);
    }
    h2{
      text-align: center;
    }
    .social{
      width: 100%;
      text-align: center;
      font-size: 3.5rem;
      padding: 10px 10px 0px;
      color: $text-color;
    }
    i:hover{
      color:#fff;
    }
  }
  /* lawns */
  .lawns-lower{
    background-color: $header-footer-color;
    p{
      font-size: 1.3rem;
      color: $text-color;
    }
  }
  .lawns{
    background-color: $header-footer-color;
  }
  .page-contact{
    background-color: $mid-green;
    margin: 0px;
    fieldset{
      border:none;
    }
    p{
      padding: 0px 0px 10px;
      font-size: 1.3rem;
      color: $text-color;
    }
    label{
      font-size: 1.3rem;
      color: $text-color;
    }
    input{
      height: 25px;
    }
    div{
      padding: 2px;
    }
    button{
      padding: 10px;
      background-color:$button-color;
      color: #fff;
      font-size: 1.2rem;
    }
  }
  /* contact page */
  .contact-page{
    border: ridge 5px green;
    padding: 15px;
    background-color: $header-footer-color;
    label{
      color: $text-color;
      font-size: 1.25rem;
    }
  }
  .required{
    display: inline;
    &:after{
      content: "*";
      color: red;
    }
  }
  .social-contact{
      background-color: $mid-green;
      h3{
        color: $text-color;
        padding-bottom: 10px;
      }
      i{
          font-size: 3rem;
          padding: 15px;
          color: $h1-colors;
        }
      span{
        font-size: 1.25rem;
      }
      button{
        height: 50px;
        font-size: 1.25rem;
        padding: 10px 10px 10px 10px;
        background-color: $button-color;
      }
  }
  .page-push{
    min-height: 33vh;
    text-align: center;
    background-color: $mid-green;
    i{
      font-size: 4rem;
      margin-top: 40px;
      padding: 40px 40px 40px 40px;
    }
  }
  /* dyi store */
  .store-img{
    padding: 10px;
    height: auto;
    max-width: 250px;
  }
  .store-header{
      text-align: center;
  }
  .store-p{
    padding: 15px;
    font-size: 1.3rem;
    color: $text-color
  }
  .store-box{
    background-color:$header-footer-color;
  }
  .store{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    background-color: $header-footer-color;
    p{
      color: $text-color;
    }
    .store-item{
      position: relative;
      background-color: $mid-green;
      border: $content-color 2px solid;
      padding: 10px;
    }
    .store-popup{
      visibility: hidden;
      position: relative;
      z-index: 100;
      top: 30%;
      color: #fff;
      background-color:green;
      padding: 0px 5px 5px 5px;
      border-radius: 5px;
      &::after{
        content: "";
        width: 0px;
        height: 0px;
        border-width: 8px;
        border-style: solid;
        border-color: green transparent transparent;
        position: absolute;
        top: 100%;
        left: 85%;
      }
    }
    .show{
      visibility: visible;
      animation: fadeIn 1s;
    }
    p{
      padding:10px;
    }
  }
  .store-price{
    position: relative;
    button{
      border:none;
      background-color: transparent;
      float: left;
      i{
        font-size: 1.5rem;
        color: $h1-colors;
      }
    }
    .item-price{
      float: left;
      padding:0px 0px 0px 10px;
    }
  }
  /* solar */
  .solar-list{
    list-style-image: url('images/bullet.png');
    padding: 15px;
    li{
      font-size: 1.3rem;
      color:$text-color;
    }
  }
  .solar-right{
    background-color:$header-footer-color
  }
  /* blog */
  .blog{
    display:grid;
    grid-template-columns: auto auto;
    background-color: $header-footer-color;
  }
  .blog-item{
    padding: 15px;
    border: green solid 3px;
    margin: 5px;
    background-color: $mid-green;
    iframe{
      display: block;
      margin: 0 auto;
      height: auto;
      width: 100%;
      aspect-ratio: 16/9;
    }
    p{
      font-size: 1.2rem;
      padding: 10px 0px 0px;
      color: $text-color;
    }
    h1{
      padding:0px 0px 10px;
    }
  }

  /* animations */
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  /* media query */
@media screen and (max-width: 992px){
  .contact{
    display: none;
  }
  .news{
    li{
      a{
        color: #000;
      }
    }
  }
}
@media screen and (max-width:730px){
  .store{
    grid-template-columns: auto;
  }
  .blog{
    grid-template-columns: auto;
  }
  
  .slide-img{
    width: 100%;
    height: auto;
  }
  .prev, .next{
    font-size: 50px;
  }
}
@media screen and (max-width: 768px ) {
  .flex-test{
    flex-direction: column;
  }
  .newsletter{
    background-color:$mid-green;
  }
  .news{
    background-color:$header-footer-color;
  }
}